/* ----- Header ----- */
header {
    height: 1000px;
    min-height: 1000px;
    background-image: url(../images/header_img.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    padding: 0 10%;
}

header h1 {
    width: 40%;
    margin: 0 0 0.5em 0;
}

header .header-text {
    padding-top: 15em;
}



/* ----- Politikkområder ----- */
#politikk {
    padding: 1px; /* gjør så scroll ikke havner rett på h1 i politikkområder */
}

.politikk-container {
    text-align: center;
    margin: 10em 0 10em 0;
    padding: 0 5%;
    background-image: url(../images/background_team.png);
    background-repeat: no-repeat;
    background-position: center;
}

.politikk-container h2 {
    margin: 0 auto 2em auto; /* sentrerer tittelen og lager luft mellom den og de tre punktene */
}

.politikkomraader { /* grid for politikk seksjonen */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.poltikk {
    margin: 0 30px;
}

.politikk img { /* bildene til politikkområdene - Klima, Livskvalitet og Samferdsel */ 
    width: 100px;
}

.poltikk h3 {
    margin: 0 auto;
    margin-bottom: 5px;
}

.politikk p {
    width: 90%;
    margin: 0 auto;
}

/* ----- Video ----- */
.vid-section {
    padding: 0 5%;
    background-image: url(../images/vid_img.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 80%;
    height: 900px;
    min-height: 900px;
}

.vid-section h2 {
    margin-left: 47.5%; /* Lengden teksten er dyttet unna bildet på venstre side. Align med venstre side av iframe  */
    padding-top: 250px;
    color: #66C9D8;
}

.vid-section h2 span {
    color: #6A9325;
    text-transform: uppercase;
}

.vid-container { /* boksen videoen ligger i */
    position: relative;
    overflow: hidden;
    padding-top: 28.125%; /* Kalkulert fra standard youtube video størrelse, 16:9. (9/16= 0.5625 = 56.25/2 = 28.125) */
    margin-left: 45%;
}

.vid-container iframe { /*selve videoen */
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0;
    left: 0;
    top: 0;
}

/* ----- Nyheter -----*/
.nyheter-container {
    padding: 0 5%; /* legger til marg på sidene */
    margin: 10em 0 14em 0; /* lager luft over og under */
}

.nyheter-container h3 {
    font-size: 1.7rem;
    margin-bottom: 5px;
}

.nyheter-container .nyheter-grid { /* grid system for nyheten. Legger dem ved siden av hverandre */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.nyheter-container .nyheter-grid img { /* bestemmer størrelsen på bildene */
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
}

.nyheter-container .nyheter-grid a {
    text-decoration: none;
}

.nyheter-container .nyheter-grid a:hover h4 {
    color: #6A9325;
}

.nyheter-container .nyheter-grid h4 {
    font-size: 1.4rem;
    padding-bottom: 10px;
    color: #363636;
}

.nyheter-container .nyheter-grid p {
    line-height: 1.4rem;
    color: #363636;
}


/* ----- Call to action ----- */
.call-to-action {
    text-align: center;
    padding: 10em 10% 14em;
    background-image: url(../images/background_calltoaction.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}

.action-grid { /* grid oppsettet for call to action seksjonen */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.action-grid a { 
   margin: 0 auto; /* sentrerer knappen call to action */
}

.action-text {
    padding: 0 4em 0 4em;
    margin: 0 auto; /* sentrerer teksten call to action */
}

.action-text h2 {
    margin-bottom: 5px;
}
